@use "../../app/globals.scss" as scss;
.vacancies {
  .card {
    height: 220px;
    transition: height 3s ease-in;

    &.hovered {
      height: auto;
      background: #f9f3d4;
    }
    @include scss.desktop {
      height: auto;
    }

    .vFooter {
      background-color: #0070f3;
      color: white;
      padding: 8px;
      transform-origin: top;
      opacity: 0;
      transform: scaleY(0);
      transition: all 6s ease;
      transition-delay: 3s;
      display: none;
    }
    &.visible {
      opacity: 1;
      display: block;
      transform: scaleY(1);
    }
  }
}
