@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Gill Sans", sans-serif;
  scroll-behavior: smooth;
}

@layer components {
  .navbar {
    @apply w-screen mx-auto py-4 px-3 max-h-[20vh] fixed top-0 z-[1111111] bg-white left-1/2 translate-x-[-50%];
  }
  .navbar-child {
    @apply flex justify-between items-center text-lg font-medium;
  }
  .download-btn {
    @apply bg-black rounded-full  py-4 px-7 text-white;
  }
  .hero-banner {
    @apply overflow-hidden min-h-[75vh];
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: black;
}
p {
  color: rgb(84, 84, 84);
  font-size: 1rem;
}
section {
  @apply my-32;
}

$mobile: 568px;
$tablet: 998px;
$desktop: 1244px;

@mixin mobile {
  @media screen and (max-width: #{$mobile}) {
    @content;
  }
}
@mixin tablet {
  @media screen and (max-width: #{$tablet}) {
    @content;
  }
}
@mixin desktop {
  @media screen and (max-width: #{$desktop}) {
    @content;
  }
}
