@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Gill Sans", sans-serif;
}

@layer components {
  .navbar {
    @apply xl:container mx-auto py-4 px-3 max-h-[20vh];
  }
  .navbar-child {
    @apply flex justify-between items-center text-lg font-medium;
  }
  .download-btn {
    @apply bg-black rounded-full  py-4 px-7 text-white;
  }
  .hero-banner {
    @apply overflow-hidden min-h-[75vh];
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: black;
}
p {
  color: rgb(84, 84, 84);
  font-size: 1rem;
}
section {
  @apply mt-10;
}
