@import url("/app/globals.scss");

#top {
  position: absolute;
  left: -50%;
}
.floor {
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10%;
  background-color: #c84c0c;
  background-image: url("/groundblock.png");
}
.single-bush {
  bottom: 5%;
  left: 30%;
  width: 20%;
  height: 10%;
  background-image: url("/BushSingle.gif");
  transform: translate(0) scale(0);
}
.double-bush {
  bottom: 5%;
  right: 20%;
  width: 20%;
  height: 10%;
  background-image: url("/BushDouble.gif");
  transform: translate(0) scale(0);
}
.hero-banner {
  z-index: 111;
}
.cloud-one {
  top: 10%;
  right: -10%;
  width: 20%;
  height: 10%;
  background-image: url("/CloudDouble.gif");
  transform: translate(50%, -50%);
  z-index: -1;
}
.cloud-two {
  transform: translate(50%, -50%);
  top: 25%;
  right: -10%;
  width: 20%;
  height: 10%;
  background-image: url("/CloudTriple.gif");
  z-index: -1;
}
.cloud-three {
  top: 10%;
  left: -20%;
  width: 20%;
  height: 10%;
  background-image: url("/CloudSingle.gif");
  transform: translate(50%, -50%);
  z-index: -1;
}
.bricks {
  position: absolute;
  top: 50%;
  right: 30%;
  transform: translate(50%, -50%) scale(0);
  .brick {
    width: 50px;
    height: 50px;
    background-image: url("/Bricks.gif");
    z-index: -1;
  }
  .question-brick {
    width: 50px;
    height: 50px;
    background-image: url("/QuestionBlock.gif");
    z-index: -1;
  }
}
.mario-main {
  position: absolute;
  background-size: contain;
  bottom: 10%;
  left: 50%;
  width: 71px;
  height: 72px;
  background: url("/mario-main.png") left center;
  animation: 0.8s steps(4) infinite;
}
@keyframes play {
  100% {
    background-position: -284px;
  }
}

.objectPlaced {
  @apply absolute bg-no-repeat bg-contain;
}
